# MongoDB Connection
VITE_MONGODB_URI=mongodb+srv://Dev:0DCVQfc00TpRQ6d2@cluster0.moflf.mongodb.net/smartinvest?retryWrites=true&w=majority&appName=Cluster0

# Server Configuration
PORT=8000
FRONTEND_URL=http://localhost:5000

# JWT Secret (change this in production!)
JWT_SECRET=smartinvest_secret_key

# Paystack Configuration (if using Paystack)
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=your_paystack_public_key